*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(drumbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .key{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.5rem;
    color: white;
    border: 0.4rem solid black;
    width: 5rem;
    border-radius: 20px;
    text-align: center;
    background: rbga(0, 0, 0, 0.4);
    box-shadow: 0 1 1rem black;
    margin: 1rem;
    padding: 1rem 0.5rem;
} */

.key { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-size: 2rem; 
    color: white; 
    border: 0.4rem solid black; 
    width: 6rem; 
    height: 6rem; 
    border-radius: 20px; 
    text-align: center; 
    background: rgba(0, 0, 0, 0.4); 
    box-shadow: 0 1 1rem black; 
    margin: 1rem; 
    padding: 0.5rem; 
}

.playing{
    transform: scale(1.1);
    border-color: #11eb11;
    box-shadow: 0 0 10px #11eb11;
}


.key .letter { 
    font-size: 2.5rem; 
    font-weight: bold; 
    color: #FFD700;
} 
.key .label { 
    font-size: 1rem; 
    margin-top: 0.3rem; 
    text-shadow: 0 0 5px black; 
} 
.playing { 
    transform: scale(1.1); 
    border-color: #11eb11; 
    box-shadow: 0 0 10px #11eb11; 
}
